//index.html
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  .nav-bar {
    width: 100%;
    padding: 0 2vh;
    line-height: 8vh;
    display: flex;

    background-color: rgba(255, 255, 255, 0.2);
    background-color: blue;
    margin-bottom: 2vh;
    h2:first-of-type {
      font-size: 4vh;
      font-family: "ubuntu";
      color: rgb(0, 0, 0);
    }
    h2:nth-last-of-type(1) {
      font-family: "ubuntu";
      font-size: 4vh;
      color: rgb(255, 255, 255);
    }
    ul {
      width: 50vw;
      // justify-content: space-evenly;
      list-style: none;
      justify-content: right;
      display: flex;
      flex-wrap: wrap;
      gap: 1px 20px;
      margin: 0 0 0 auto;
      li {
        // padding: 0 2vh;
        border-bottom: solid rgba(0, 0, 0, 0) 3px;
        transition: 0.2s border ease;
        a {
          text-decoration: none;
          color: rgb(255, 255, 255);
          font-size: 2.7vh;
          font-family: "Radio Canada Big";
        }
      }
      li:hover {
        border-bottom: solid rgb(0, 0, 0) 3px;
      }
    }
  }
}
main {
  .category-header {
    background-color: rgba(0, 0, 255, 0.763);
    padding: 1vh 2vh;
    text-align: center;
    p {
      color: white;
      font-family: "ubuntu";
      font-size: 3vh;
    }
  }
  .product-category {
    margin: 2vh 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh 0.5vh;
    justify-content: center;
    // outline: rgb(255, 0, 0) solid;
    .card {
      button {
        width: 25vw;
        margin: 0 1vh;
        // width: fit-content;
        border: none;
        padding: 0.5vh 1vh;
        background-color: blue;
        color: white;
        font-family: "ubuntu";
        border-radius: 0.5vh;
        cursor: pointer;
        font-size: 2.3vh;
        // text-align: center;
        outline: none;
      }
    }
  }
}

//categorized product
main {
  .product-brand {
    font-size: 3.5vh;
    font-family: "ubuntu";
    color: white;
    padding: 1vh 2vh;
    background-color: rgba(0, 0, 255, 0.763);
  }
  .product-cards {
    background-color: white;
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vh 3vh;
    .card {
      width: 94vh;
      display: flex;
      margin: 2vh 0vh;
      border-radius: 1vh;
      padding: 2vh 2vh;
      background-color: rgb(195, 93, 9);
      outline: solid;
      .card-image {
        border-radius: 0.5vh;
        img {
          height: 15vw;
          border-radius: 0.5vh;
          width: 15vw;
          cursor: pointer;
        }
      }
      .productdetail {
        margin: 0 0 0 2vh;
        h3 {
          background-color: rgb(255, 255, 255);
          font-size: 3vh;
          border-radius: 0.5vh;
          color: rgb(0, 0, 0);
          font-family: "ubuntu";
          width: 12.4vw;
          margin: 0.5vh 0;
          padding: 0.5vh 1vh;
        }
        p {
          cursor: pointer;
          margin: 1vh 0;
          border-radius: 0.5vh;
          color: black;
          background-color: rgb(255, 255, 255);
          padding: 0.5vh 1vh;
          font-size: 2.5vh;
          font-family: "ubuntu";
        }
        .addtocartbtn {
          outline: none;
          border: none;
          color: white;
          background-color: blue;
          font-family: "ubuntu";
          font-size: 2vh;
          cursor: pointer;
          margin: 1vh 0;
          padding: 0.5vh 1vh;
          border-radius: 0.5vh;
        }
      }
    }
  }
}
//cart
main .order-section {
  // outline: red solid;
  display: flex;
  .head {
    background-color: blue;
    color: white;
    font-size: 2.5vh;
    text-align: center;
    width: 100%;
    padding: 0.5vh;
    font-family: "ubuntu";
  }
  .added-products {
    // outline: red solid;
    width: 45vw;
    padding: 1vh;
    table {
      margin-bottom: 1vh;
      width: 100%;

      .removebtn {
        border: none;
        outline: none;
        background-color: blue;
        color: white;
        font-size: 2vh;
        text-align: center;
        cursor: pointer;
        border-radius: 0.5vh;
        padding: 01vh 2vh;
      }
      img {
        width: 50px;
      }
    }
    table,
    td {
      font-size: 2.3vh;
      font-family: "ubuntu";
      padding: 1vh;
      border: 1px solid;
      border-collapse: collapse;
      .btn {
        text-align: center;
      }
    }
  }
  .price-listing {
    padding: 1vh 2vh;
    // outline: blue solid;
    margin: 0 0 0 auto;
    width: 50vw;
    table,
    td {
      font-size: 2.5vh;
      font-family: "ubuntu";
      width: 100%;
      text-align: left;
      padding: 1vh;
      // width: 100%;
      border-collapse: collapse;
      border: solid 1px;
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    .product-cards {
      padding: 1vh;
      .card {
        margin: 2vh 0.5vh;
        border-radius: 1vh;
        padding: 1vh;
        .card-image {
          border-radius: 0.5vh;
          img {
            height: 35vw;
            border-radius: 0.5vh;
            width: 30vw;
          }
        }
        .productdetail {
          margin: 0 0 0 2vh;
          h3 {
            font-size: 2vh;
            border-radius: 0.5vh;
            width: fit-content;
            margin: 0.5vh 0;
            padding: 0.5vh 1vh;
          }
          p {
            margin: 1vh 0;
            border-radius: 0.5vh;
            padding: 0.5vh 1vh;
            font-size: 2vh;
          }
        }
      }
    }
  }
  //cart
  main .order-section {
    flex-direction: column;
    .added-products {
      width: 100%;
      padding: 1vh 2vh;
      table {
        .removebtn {
          font-size: 2vh;
          border-radius: 0.5vh;
          padding: 01vh 2vh;
        }
        img {
          width: 50px;
        }
      }
      table,
      td {
        font-size: 2vh;
        padding: 1vh;
      }
    }
    .price-listing {
      padding: 1vh 2vh;
      width: 100%;
      margin: 0;
      table,
      td {
        font-size: 2vh;
        padding: 1vh;
      }
    }
  }
}
