@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//home page
header {
  .nav-bar {
    width: 100%;
    padding: 0 2vh;
    line-height: 8vh;
    display: flex;

    background-color: rgba(255, 255, 255, 0.2);
    background-color: blue;
    margin-bottom: 2vh;
    h2:first-of-type {
      font-size: 4vh;
      font-family: "ubuntu";
      color: rgb(0, 0, 0);
    }
    h2:nth-last-of-type(1) {
      font-family: "ubuntu";
      font-size: 4vh;
      color: rgb(255, 255, 255);
    }
    ul {
      width: 50vw;
      // outline: red solid;
      list-style: none;
      justify-content: right;
      display: flex;
      flex-wrap: wrap;
      gap: 1px 20px;
      margin: 0 0 0 auto;
      li {
        border-bottom: solid rgba(0, 0, 0, 0) 3px;

        // outline: solid white;
        a {
          text-decoration: none;
          padding: 0.5vh 1vh;
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border-radius: 1vh;
          font-size: 3vh;
          font-family: "Radio Canada Big";
          transition: background 0.2s ease;
        }
      }
      a:hover {
        // outline: red solid;
        background-color: rgba(255, 0, 0, 0.403);
        color: white;
      }
    }
  }
  .headsliderWrapper {
    display: flex;

    .slider {
      width: 30vw;
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        animation: headslider 10s infinite;
      }
    }
    .headcontent {
      width: 60vw;
      margin: 0 auto 0 auto;
      padding: 1vh;

      .headerproductslist {
        margin-top: 2vh;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 10px;
        justify-content: center;
        .card {
          margin: 1vh;
          padding: 1vh 2vh;
          background-color: rgb(195, 93, 9);
          width: 150px;
          // height: 180px;
          border-radius: 1vh;
          .image {
            margin: 0 auto auto;
            width: 100px;

            img {
              border-radius: 0.5vh;

              width: 100px;
            }
          }
          button {
            color: rgb(0, 0, 0);
            border: none;
            font-size: 2vh;
            margin: 0.5vh 0.5vh;
            padding: 0.5vh;
            font-style: "ubuntu";
          }
        }
      }
      .salelogo {
        border: none;
        font-size: 2vh;
        background-color: rgb(255, 183, 0);
        padding: 1vh;
        border-radius: 1vh;
      }
      .salename {
        background-color: red;
        text-align: center;
        color: white;
        padding: 1vh;
        font-size: 3vh;
        border-radius: 1vh;
      }
      h3 {
        font-size: 2.5vh;
        font-family: "ubuntu";
        padding: 0 0 1vh 0;
      }
      p {
        font-size: 2vh;
        font-family: "ubuntu";
        padding: 0 0 1vh 0;
      }
      h5 {
        font-size: 2.5vh;
        font-family: monospace;
        padding: 0 0 1vh 0;
      }
    }
  }
}
@keyframes headslider {
  0%,
  10% {
    transform: translateX(-100%);
  }

  20% {
    transform: translateX(-200%);
  }
  30% {
    transform: translateX(-300%);
  }
  40% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(-500%);
  }
  60% {
    transform: translateX(-600%);
  }
  70% {
    transform: translateX(-700%);
  }
  80% {
    transform: translateX(-800%);
  }
  90% {
    transform: translateX(-900%);
  }
  100% {
    transform: translateX(-100%);
  }
}
main {
  .category-header {
    background-color: rgba(0, 0, 255, 0.763);
    padding: 1vh 2vh;
    text-align: center;
    p {
      color: white;
      font-family: "ubuntu";
      font-size: 3vh;
    }
  }
  .productshowcase {
    padding: 2vh;
    // display: flex;
    .productsHome {
      // outline: black solid;
      // margin: 0 0 0 2vh;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 30px;
      justify-content: center;
      padding: 2vh 0;
      width: 100%;
      .card {
        background-color: rgb(195, 93, 9);
        border-radius: 1vh;
        // margin: auto;

        padding: 2.5vh 2vh;
        width: 150px;
        height: 220px;
        // outline: red solid;
        .image {
          // outline: red solid;
          width: 120px;
          margin: 0 auto;
          img {
            border-radius: 1vh;
            width: 100%;
          }
        }
        .productDetails {
          display: flex;
          flex-wrap: wrap;
          p {
            border-radius: 0.5vh;
          }
          p.title {
            font-size: 2vh;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: 0.5vh;
            margin: 0.5vh auto;
            font-family: "ubuntu";
            width: 120px;
          }
          p.price {
            font-size: 2vh;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: 0.5vh;
            margin: 0.5vh;
            font-family: "ubuntu";
            width: fit-content;
          }
          button.addtocart {
            cursor: pointer;
            border: none;
            font-size: 2vh;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: 0.5vh 3vh;
            background-color: rgb(255, 238, 0);
            outline: none;
            border-radius: 0.5vh;
            margin: 0.5vh;
            font-family: "ubuntu";
            width: fit-content;
          }
        }
      }
    }
    .product-category {
      // margin: 2vh 0 4vh 1vh;
      background: linear-gradient(
        90deg,
        rgba(170, 90, 1, 0.8481260668329832) 0%,
        rgba(195, 144, 64, 0.8621316690738796) 35%,
        rgba(255, 172, 0, 0.6324397923231793) 100%
      );
      padding: 2vh;
      border-radius: 1vh;
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      gap: 1vh 2vh;
      // width: fit-content;
      justify-content: center;
      .card {
        // outline: red solid;

        button {
          width: 100%;
          // width: fit-content;
          // margin: 0 1vh;
          border: none;
          padding: 0.5vh 1vh;
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          font-family: "ubuntu";
          border-radius: 0.5vh;
          cursor: pointer;
          font-size: 3vh;
          outline: none;
        }
      }
    }
  }
}

//categorized product
main {
  .product-brand {
    font-size: 3.5vh;
    font-family: "ubuntu";
    color: white;
    padding: 1vh 2vh;
    background-color: rgba(0, 0, 255, 0.763);
  }
  .product-cards {
    background-color: white;
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vh 3vh;
    .card {
      width: 94vh;
      display: flex;
      margin: 2vh 0vh;
      border-radius: 1vh;
      padding: 2vh 2vh;
      background-color: rgb(195, 93, 9);
      outline: solid;
      .card-image {
        border-radius: 0.5vh;
        img {
          height: 15vw;
          border-radius: 0.5vh;
          width: 15vw;
          cursor: pointer;
        }
      }
      .productdetail {
        margin: 0 0 0 2vh;
        h3 {
          background-color: rgb(255, 255, 255);
          font-size: 3vh;
          border-radius: 0.5vh;
          color: rgb(0, 0, 0);
          font-family: "ubuntu";
          width: 12.4vw;
          margin: 0.5vh 0;
          padding: 0.5vh 1vh;
        }
        p {
          cursor: pointer;
          margin: 1vh 0;
          border-radius: 0.5vh;
          color: black;
          background-color: rgb(255, 255, 255);
          padding: 0.5vh 1vh;
          font-size: 2.5vh;
          font-family: "ubuntu";
        }
        .addtocartbtn {
          outline: none;
          border: none;
          color: white;
          background-color: blue;
          font-family: "ubuntu";
          font-size: 2vh;
          cursor: pointer;
          margin: 1vh 0;
          padding: 0.5vh 1vh;
          border-radius: 0.5vh;
        }
      }
    }
  }
}
//cart
main {
  .head {
    background-color: blue;
    border: solid 0.2vh blue;
    color: white;
    font-size: 2.5vh;
    text-align: center;
    width: 100%;
    padding: 0.5vh;
    font-family: "ubuntu";
  }
  .order-section {
    display: flex;
    width: 98vw;
    margin: 0 auto;
    .added-products {
      width: 48vw;
      margin: 0 0 auto 0;
      table {
        margin-bottom: 1vh;
        width: 100%;

        .removebtn {
          border: none;
          outline: none;
          background-color: blue;
          color: white;
          font-size: 2vh;
          text-align: center;
          cursor: pointer;
          border-radius: 0.5vh;
          padding: 01vh 2vh;
        }
        img {
          width: 50px;
        }
      }
      table,
      td {
        font-size: 2.3vh;
        font-family: "ubuntu";
        padding: 1vh;
        border: 1px solid;
        border-collapse: collapse;
        .btn {
          text-align: center;
        }
      }
    }
    .price-listing {
      margin: 0 0 0 auto;
      width: 48vw;
      table,
      td {
        font-size: 2.5vh;
        font-family: "ubuntu";
        width: 100%;
        text-align: left;
        padding: 1vh;
        border-collapse: collapse;
        border: solid 1px;
      }
    }
  }
  .checkout {
    width: 90vw;
    // outline: red solid;
    padding: 1vh;
    margin: 0 auto;
    text-align: center;
    label {
      // outline: blue solid;
      padding: 1vh 0;
      font-size: 2vh;
      font-family: "ubuntu";
    }
    button {
      margin: 1vh 0;
      width: 100%;
      border: none;
      font-size: 4vh;
      font-family: "ubuntu";
      background-color: rgb(91, 91, 3);
      padding: 0.5vh 1vh;
      // border: solid;
      color: white;
      border-radius: 1vh;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(101, 101, 8);
    }
  }
}

//product specs
main {
  .selected-product {
    background-color: rgb(195, 93, 9);
    padding: 2vh;
    display: flex;
    // outline: black solid;
    img {
      border-radius: 1vh;
      width: 300px;
    }
    .product-details {
      margin: 0 0 0 3vh;
      padding: 1vh 0vh;
      // outline: white solid;
      .fbtngrp,
      .sbtngrp {
        display: flex;
      }
      h3 {
        width: fit-content;
        margin: 0 2vh;
        background-color: white;
        padding: 0.5vh 1vh;
        font-size: 3vh;
        font-family: "ubuntu";
        border-radius: 0.5vh;
      }
      .btn {
        margin: 1vh 2vh;
        // outline: blue solid;
        width: fit-content;
        text-align: center;
        border-radius: 0.5vh;
        padding: 0.5vh 1vh;
      }
      .btn.rating {
        background-color: rgb(5, 163, 5);
        color: white;
        font-size: 2.5vh;
        font-family: "ubuntu";
      }
      .btn.clr {
        font-size: 2.5vh;
        font-family: "ubuntu";
        background-color: white;
      }
      .btn.price {
        font-size: 2.5vh;
        font-family: "ubuntu";
        background-color: rgb(100, 95, 241);
        color: white;
      }
      .btn.tocart {
        font-size: 2.5vh;
        font-family: "ubuntu";
        background-color: yellow;
      }
      .desc {
        width: fit-content;
        margin: 1vh 2vh;
        background-color: white;
        padding: 0.5vh 1vh;
        font-size: 2vh;
        font-family: "ubuntu";
        border-radius: 0.5vh;
      }
    }
  }
}
//checkout
main {
  .order-summary {
    margin: 0 auto;
    width: 98vw;
    .address {
      // outline: red solid;
      padding: 1vh;

      .delivery-addr {
        // outline: blue solid;
        margin: 1vh 0;
        padding: 0.5vh 0;
        font-size: 2.3vh;
        font-family: monospace;
        .saved-addr {
          // border: solid;
          padding: 1vh 0;
          .addresses-list {
            .addr-remove-btn {
              // outline: red solid;
              width: fit-content;
              margin: 0 0 0 auto;
              button {
                border: none;
                padding: 0.5vh 1vh;
                border-radius: 0.5vh;
                background-color: red;
                color: white;
                cursor: pointer;
              }
            }
          }

          table,
          tr,
          td {
            border-collapse: collapse;
            padding: 1vh;

            width: 100%;
            border: 0.2vh solid;
          }
        }
        .hr {
          // font-size: 2vh;
          border: solid 1vh;
          margin: 1vh 0;
        }
        .new-addr {
          border: none;
          background-color: green;
          color: white;
          font-size: 2.5vh;
          border-radius: 0.5vh;
          width: 100%;
          font-family: "ubuntu";
          padding: 1vh;
        }
        .addr {
          background-color: rgb(213, 166, 166);
          padding: 1vh;
          color: rgb(0, 0, 0);
          border-radius: 0.5vh;
          // line-height: 4vh;
          margin: 0.5vh 0 0.5vh 0;
        }
      }

      form {
        // outline: blue solid;
        #addr-save-btn {
          border-radius: 0.5vh;
          cursor: pointer;
          border: none;
          background-color: rgb(171, 171, 4);
          padding: 1vh;
          margin: 1vh 0;
          width: 100%;
        }
        input {
          outline: none;
          border: none;
          font-size: 2vh;
          font-family: "ubuntu";
          margin: 0 0.5vh;
          width: 99%;
          padding: 1vh;
        }
        table {
          // outline: red solid;
          // text-align: center;
          padding: 1vh 0;
          width: 100%;
        }
        table tr,
        td {
          border: solid 0.2vh;
          // border-collapse: collapse;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    .headsliderWrapper {
      display: flex;
      flex-direction: column;
      .slider {
        border-top: rgb(0, 0, 0) solid 4px;
        border-bottom: rgb(0, 0, 0) solid 4px;
        width: 100vw;

        display: flex;

        overflow: hidden;
        img {
          width: 100%;
          animation: headslider 10s infinite;
        }
      }
      .headcontent {
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 1vh;

        .headerproductslist {
          margin-top: 2vh;
          display: flex;
          flex-wrap: wrap;
          gap: 10px 10px;
          justify-content: center;
          .card {
            margin: 1vh;
            padding: 1vh 2vh;

            background-color: rgb(195, 93, 9);
            width: 150px;
            .image {
              margin: 0 auto auto;

              width: 100px;

              img {
                border-radius: 0.5vh;

                width: 100px;
              }
            }
            button {
              color: rgb(0, 0, 0);
              border: none;
              font-size: 1.5vh;
              margin: 0.5vh 0.5vh;
              padding: 0.5vh;
              font-style: "ubuntu";
            }
          }
        }
        .salelogo {
          border: none;
          font-size: 2vh;
          background-color: rgb(255, 183, 0);
          padding: 1vh;
          border-radius: 1vh;
        }
        .salename {
          background-color: red;
          text-align: center;
          color: white;
          padding: 1vh;
          font-size: 2vh;
          border-radius: 1vh;
        }
        h3 {
          font-size: 2vh;
          font-family: "ubuntu";
          padding: 0 0 1vh 0;
        }
        p {
          font-size: 1.5vh;
          font-family: "ubuntu";
          padding: 0 0 1vh 0;
        }
        h5 {
          font-size: 2vh;
          font-family: monospace;
          padding: 0 0 1vh 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  main {
    .product-cards {
      padding: 1vh;
      .card {
        margin: 2vh 0.5vh;
        border-radius: 1vh;
        padding: 1vh;
        .card-image {
          border-radius: 0.5vh;
          img {
            height: 35vw;
            border-radius: 0.5vh;
            width: 30vw;
          }
        }
        .productdetail {
          margin: 0 0 0 2vh;
          h3 {
            font-size: 2vh;
            border-radius: 0.5vh;
            width: fit-content;
            margin: 0.5vh 0;
            padding: 0.5vh 1vh;
          }
          p {
            margin: 1vh 0;
            border-radius: 0.5vh;
            padding: 0.5vh 1vh;
            font-size: 2vh;
          }
        }
      }
    }
  }
  //cart
  main .order-section {
    flex-direction: column;
    .added-products {
      width: 100%;
      padding: 1vh 2vh;
      table {
        .removebtn {
          font-size: 2vh;
          border-radius: 0.5vh;
          padding: 01vh 2vh;
        }
        img {
          width: 50px;
        }
      }
      table,
      td {
        font-size: 2vh;
        padding: 1vh;
      }
    }
    .price-listing {
      padding: 1vh 2vh;
      width: 100%;
      margin: 0;
      table,
      td {
        font-size: 2vh;
        padding: 1vh;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    .selected-product {
      padding: 2vh 0;
      display: flex;
      flex-direction: column;
      img {
        border-radius: 1vh;
        width: 250px;
        float: left;
        margin: 1vh 4vh;
      }
      .product-details {
        margin: 0;
        padding: 2vh 0vh;
        .fbtngrp,
        .sbtngrp {
          display: flex;
          flex-wrap: wrap;
          gap: 5px 10px;
          margin: 1vh 4vh;
        }
        h3 {
          margin: 0 4vh;
          padding: 0.5vh 1vh;
          font-size: 3vh;
          border-radius: 0.5vh;
        }
        .btn {
          margin: 0.5vh 0vh;
          width: fit-content;
          border-radius: 0.5vh;
          padding: 0.5vh 1vh;
        }
        .btn.rating {
          font-size: 2.5vh;
        }
        .btn.clr {
          font-size: 2.5vh;
        }
        .btn.price {
          font-size: 2.5vh;
        }
        .btn.tocart {
          font-size: 2.5vh;
        }
        .desc {
          margin: 0 4vh;
          width: fit-content;
          margin: 1vh 4vh;
          padding: 0.5vh 1vh;
          font-size: 2vh;
          border-radius: 0.5vh;
        }
      }
    }
  }
}
